# dependencies
/node_modules
/.pnp
.pnp.js

# build output
/dist
/.next

# testing
/coverage
/.nyc_output

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# runtime data
pids
*.pid
*.seed
*.pid.lock

# diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# environment files
.env
.env.*
!.env.example

# IDEs and editors
.idea/
.vscode/
*.swp

# system files
.DS_Store

# TypeScript cache
*.tsbuildinfo
